{{ content_for_header }}
{{ content_for_layout }}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>YOW SURF - BRASIL</title>
<style>
  * {
    margin: 0;
    padding: 0;
  }

  img {
    width: 100%;
  }
  #shopify-section-template--20260907090230__main {
    display: none !important;
  }
  .soon-main {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .soon-container {
    max-width: 1140px;
    display: block;
    margin: 0 auto;
  }

  .flex-soon {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .selo {
    width: 400px;
    padding-top: 300px;
  }
  .selo img {
    animation: rotate 20s linear infinite;
  }
  .soon-form {
    width: 100%;
    margin: 200px 0;
  }
  @keyframes rotate {
    from {
      transform: rotate(0deg); /* Ângulo inicial de rotação */
    }
    to {
      transform: rotate(360deg); /* Ângulo final de rotação (uma volta completa) */
    }
  }

  @media (max-width: 700px) {
    .flex-soon {
      flex-direction: column;
      align-items: end;
      padding: 0 15px;
    }
    .selo {
      width: 120px;
      padding-top: 3em;
      padding-right: 3em;
    }
  }
</style>

<img src="https://cdn.shopify.com/s/files/1/0789/1304/4790/files/bg.webp?v=1690900374">
<div class="soon-main">
  <div class="soon-container">
    <div class="flex-soon">
      <div></div>
      <div class="selo">
        <img src="https://cdn.shopify.com/s/files/1/0789/1304/4790/files/SELO_AMARELO.png?v=1690900278">
      </div>
    </div>
    <div class="soon-form">
      {% form 'contact' %}
        {{ form.errors | default_errors }}

        <div class="first-name">
          <label for="first-name">Nome</label>
          <input type="text" name="contact[first_name]" id="first-name">
        </div>

        <div class="email">
          <label for="email">E-mail</label>
          <input type="email" name="contact[email]" id="email">
        </div>

        <div class="message" style="visibility: hidden;">
          <label for="message">Message</label>
          <textarea name="contact[body]" id="message"></textarea>
        </div>

        <div class="submit">
          <input type="submit" value="Enviar">
        </div>
      {% endform %}
    </div>
  </div>
</div>
