{{ content_for_header }}
{{ content_for_layout }}








<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<div class="logo"><img src="./logo.webp"></div>
<div class="custombg">
    <video autoplay loop muted>
        <source src="./video.mp4" type="video/mp4">
        <!-- Adicione outras extensões do vídeo aqui para suporte a outros navegadores -->
    </video>
</div>
<div class="conteudobreve">
    <h2>Em breve</h2>
    <h1>Yow Surf <br> Brasil</h1>
    <p><b>A YOW Surf Brasil está chegando com tudo.</b> <br>Nossa equipe está trabalhando duro para criar uma experiência única e empolgante para todos os amantes do surf no Brasil.</p>
    <a href="" class="mybtn"><i class="fab fa-instagram"></i> Acesse nosso Instagram</a>
</div>









<style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700;900&display=swap');

  body {
      background-color: #000;
      font-family: 'Montserrat', sans-serif;
      color: #fff;
      overflow: hidden;
  }

  .logo {
    position: absolute;
    top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo img {
    width: 150px;
    filter: grayscale(100%) invert(100%);
}

.custombg {
    width: 100%;
    height: 100%;
    background-image: url('./Yowsurf08986.JPG');
    position: absolute;
    background-size: cover;
    filter: brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 15px ) hue-rotate( 0deg );
    z-index: -1;
}

.custombg video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.conteudobreve {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.conteudobreve h1 {
    font-size: 5rem;
    line-height: 5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
}

.conteudobreve h2 {
    font-size: 1.3rem;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 45px;
}




.conteudobreve p {
    font-size: 1.2rem;
    font-weight: 500;
    max-width: 550px;
    margin: 0 auto;
}




.mybtn {
    font-size: 0.778em;
    letter-spacing: .09em;
    margin-bottom: 20px;
    background: transparent;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    font-weight: 700;
    border: 0;
    border-left: 2px solid;
    border-right: 2px solid;
    padding: 9px 27px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: opacity 0.3s, padding 0.3s;
    -moz-transition: opacity 0.3s, padding 0.3s;
    -ms-transition: opacity 0.3s, padding 0.3s;
    -o-transition: opacity 0.3s, padding 0.3s;
    transition: opacity 0.3s, padding 0.3s;
    color: #fff;
    text-decoration: none;
    margin-top: 30px;
}

.mybtn:hover {
    padding: 9px 47px;
  }


/* Media Query para telas maiores ou iguais a 700 pixels */
@media (max-width: 700px) {
    .conteudobreve h1 {
      font-size: 3.5rem;
      line-height: 3rem;
      padding: 0 15px;
    }
  
    .conteudobreve h2 {
      font-size: 1rem;
      letter-spacing: 15px;
      padding: 0 15px;
    }
  
    .conteudobreve p {
      font-size: 1rem;
      padding: 0 15px;
    }
  }







  section {
    display: none !important;
  }
</style>
