{{ content_for_header }}
{{ content_for_layout }}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>YOW SURF - BRASIL</title>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;900&display=swap');

  * {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }

  img {
    width: 100%;
  }
  #shopify-section-template--20260907090230__main {
    display: none !important;
  }
  .soon-main {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .soon-container {
    max-width: 1140px;
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  .flex-soon {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .customheader {
    height: 100vh;
  }
  .selo {
    max-width: 400px;
    width: 100%;
    padding-top: 300px;
  }
  .selo img {
    animation: rotate 20s linear infinite;
  }
  .soon-form {
    width: 100%;
    margin: 200px 0;
  }
  .soon-form form {
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.075) !important;
    padding: 40px;
    border-radius: 6px;
    border: none;
    background-color: #fff;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
  }
  .soon-form label {
  }

  .first-name,
  .email {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .soon-form input {
    height: auto;
    border-radius: 40px;
    border: 1px solid #dedada;
    box-shadow: none;
    padding: 10px 20px 10px 46px;
    font-size: 14px;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }

  .submit input {
    border: none;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    background: #f4605c;
    text-transform: uppercase;
    padding: 13px 30px;
    border-radius: 40px;
    margin-top: 20px;
    transition: all 0.3s;
    height: auto;
  }

  .what,
  .insta {
    max-width: 200px;
    width: 100%;
  }
  @keyframes rotate {
    from {
      transform: rotate(0deg); /* Ângulo inicial de rotação */
    }
    to {
      transform: rotate(360deg); /* Ângulo final de rotação (uma volta completa) */
    }
  }

  @media (max-width: 700px) {
    .flex-soon {
      flex-direction: column;
      align-items: end;
      padding: 0 15px;
    }
    .selo {
      width: 120px;
      padding-top: 3em;
      padding-right: 3em;
    }
  }
</style>

<img src="https://cdn.shopify.com/s/files/1/0789/1304/4790/files/bg.webp?v=1690900374">
<div class="soon-main">
  <div class="soon-container">
    <div class="customheader">
      <div class="flex-soon">
        <div></div>
        <div class="selo">
          <img src="https://cdn.shopify.com/s/files/1/0789/1304/4790/files/SELO_AMARELO.png?v=1690900278">
        </div>
      </div>
    </div>
    <div class="soon-form">
      <img
        style="max-width: 790px;margin: 0 auto;display: block;width: 100%;margin-bottom: 80px"
        src="https://cdn.shopify.com/s/files/1/0789/1304/4790/files/Layer_20.png?v=1690911428"
      >
      {% form 'contact' %}
        {{ form.errors | default_errors }}

        <div class="first-name">
          <label for="first-name">Nome</label>
          <input type="text" name="contact[first_name]" id="first-name" placeholder="Nome">
        </div>

        <div class="email">
          <label for="email">E-mail</label>
          <input type="email" name="contact[email]" id="email" placeholder="E-mail">
        </div>

        <div class="message" style="visibility: hidden;position: absolute;z-index: -1;">
          <label for="message">Mensagem</label>
          <textarea name="contact[body]" id="message"></textarea>
        </div>

        <div class="submit">
          <input type="submit" value="Enviar">
        </div>
      {% endform %}
    </div>
  </div>
</div>
