:root {
    --tamanho-titulo-h3: 1.8rem;
  }

.card__content .card__information h3.card__heading {
    font-weight: 800;
    font-size: var(--tamanho-titulo-h3);
}


.footer__blocks-wrapper.grid {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer__blocks-wrapper.grid .footer-block.grid__item {
  width: 100%;
}

.footer__blocks-wrapper.grid .footer-block.grid__item h2.footer-block__heading, .footer-block__newsletter h2.footer-block__heading{
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-size: 0.75em;
}

.footer-block__newsletter p {
  font-size: 14px;
  line-height: 22px;
  color: #fff;
}


.footer__blocks-wrapper.grid .footer-block.grid__item a {
  color:#fff;
  text-decoration: none;
}