/* Definindo variáveis globais */
:root {
    --cor-primaria: #000;
    --cor-secundaria: #000;
    --tamanho-titulo-h1: 3.5rem;
    --tamanho-titulo-h2: 3rem;
    --tamanho-titulo-h3: 2rem;
    --text-transform-custom: uppercase;
  }
  
  /* Estilos para títulos h1, h2, h3 */
  h1 {
    font-size: var(--tamanho-titulo-h1) !important;
    color: var(--cor-primaria) !important;
    text-transform: var(--text-transform-custom) !important;
  }
  
  h2 {
    font-size: var(--tamanho-titulo-h2) !important;
    color: var(--cor-primaria) !important;
    text-transform: var(--text-transform-custom) !important;
  }
  
  h3 {
    font-size: var(--tamanho-titulo-h3) !important;
    color: var(--cor-primaria) !important;
    text-transform: var(--text-transform-custom) !important;
  }
  
  /* Estilos para parágrafos */
  p {
    color: var(--cor-secundaria) !important;
  }
  
  /* Estilos para botões com a classe .button--primary */
  .button--primary {
    background-color: var(--cor-primaria) !important;
    color: #fff !important;
    padding: 10px 20px !important;
    border: none !important;
    border-radius: 5px !important;
    cursor: pointer !important;
  }
  