/* Definindo variáveis globais */
:root {
    --cor-primaria: #007bff;
    --cor-secundaria: #333;
    --tamanho-titulo-h1: 2.5rem;
    --tamanho-titulo-h2: 2rem;
    --tamanho-titulo-h3: 1.5rem;
  }
  
  /* Estilos para títulos h1, h2, h3 */
  h1 {
    font-size: var(--tamanho-titulo-h1);
    color: var(--cor-primaria);
  }
  
  h2 {
    font-size: var(--tamanho-titulo-h2);
    color: var(--cor-primaria);
  }
  
  h3 {
    font-size: var(--tamanho-titulo-h3);
    color: var(--cor-primaria);
  }
  
  /* Estilos para parágrafos */
  p {
    color: var(--cor-secundaria);
  }
  
  /* Estilos para botões com a classe .button--primary */
  .button--primary {
    background-color: var(--cor-primaria);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  